#about {
  background-color: #fff8f3;
  border-radius: 0.5rem;
  max-width: 460px;
  padding: 5%;
}

#about-container {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 0 5%;
}

#about-description,
.info-title {
  font-size: 0.93rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--light-gray);
}

#info-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  margin: 1.8rem auto 0.5rem;
}

.info {
  font-size: 0.96rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--dark-gray);
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  #about {
    padding: 5% 6%;
    max-width: 79%;
  }
}

@media screen and (min-width: 768px) {
  #about {
    padding: 6% 7%;
    max-width: 78%;
  }
}

@media screen and (min-width: 992px) {
  #about {
    padding: 7% 8%;
    max-width: 77%;
  }

  #info-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1200px) {
  #about {
    padding: 8% 9%;
    max-width: 76%;
  }
}

@media screen and (min-width: 1400px) {
  #about {
    padding: 9% 10%;
    max-width: 75%;
  }
}
