@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #181818;
  --dark-gray: #474747;
  --light-gray: #757575;
  --orange: #fd6e0a;
  --pink: #fff8f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}

.primary-button {
  background-color: var(--orange);
  color: white;
  font-weight: 600;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.primary-button:hover {
  opacity: 0.8;
}

section {
  max-width: 518px;
  margin: 0 auto 5rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 650;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--black);
}

hr {
  color: #d1d1d1;
}

@media screen and (min-width: 576px) {
  section {
    max-width: 89%;
  }
}

@media screen and (min-width: 768px) {
  section {
    max-width: 88%;
  }
}

@media screen and (min-width: 992px) {
  section {
    max-width: 87%;
  }
}

@media screen and (min-width: 1200px) {
  section {
    max-width: 86%;
  }
}

@media screen and (min-width: 1400px) {
  section {
    max-width: 85%;
  }
}
