@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}

:root {
  --black: #181818;
  --dark-gray: #474747;
  --light-gray: #757575;
  --orange: #fd6e0a;
  --pink: #fff8f3;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.primary-button {
  background-color: var(--orange);
  color: white;
  font-weight: 600;
  border: none;
  padding: 0.9rem 1.2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.primary-button:hover {
  background-color: #ef6909;
}

section {
  margin: 0 7% 5rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 650;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--black);
}

hr {
  color: #d1d1d1;
}
