header {
  background-color: var(--pink);
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-size: 11%;
  background-position: 3% 24%;
  margin-bottom: 6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
  padding: 2rem 7% 0;
}

#nav-title {
  font-weight: 800;
  font-size: 2.3rem;
}

#menu-icon {
  color: var(--black);
  font-size: 1.5rem;
}

nav ul {
  display: none;
}

nav li {
  list-style: none;
}

nav li > a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--dark-gray);
}

nav li > a:hover {
  color: var(--light-gray);
  text-decoration: dashed;
}

#banner {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

#banner-container {
  margin: 2.5rem 7% 3rem;
}

#banner-subtitle {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.3rem;
  color: var(--dark-gray);
}

#banner-title {
  font-weight: 650;
  font-size: 3rem;
  color: var(--black);
}

#banner-description {
  margin: 1.2rem 0 1.5rem;
  font-size: 0.85rem;
  line-height: 1.15rem;
  color: var(--light-gray);
}

#button-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

#contact-button {
  color: var(--orange);
  background-color: white;
  font-weight: 600;
  padding: 0.9rem 1.2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  border: var(--orange) 1.2px solid;
  min-width: 152px;
}

#contact-button:hover {
  background-color: rgb(246, 241, 241);
  color: var(--orange);
}

#image-container {
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;
  text-align: right;
}

header img {
  max-width: 90%;
  display: block;
  margin: 0 4% 0 auto;
}

@media screen and (min-width: 576px) {
  header {
    background-position: 3% 30%;
  }

  #menu-icon {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  #button-container {
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    background-size: 5.5%;
    background-position: 2.2% 50%;
  }

  nav {
    padding: 2rem 10% 0;
  }

  #banner {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }

  #banner-container {
    margin: 0 0 0 10%;
    max-width: 40%;
  }

  #button-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.2rem;
  }

  #contact-button {
    min-width: 136px;
  }

  #image-container {
    flex: 1;
  }
}

@media screen and (min-width: 992px) {
  nav {
    padding: 2rem 11% 0;
  }

  nav ul {
    gap: 4rem;
  }

  #banner-container {
    margin: 0 0 0 11%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    background-position: 3.5% 50%;
  }

  nav {
    padding: 2rem 13% 0;
  }

  #banner-container {
    margin: 0 0 0 13%;
  }
}
