header {
  background-color: var(--pink);
  margin-bottom: 6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 5% 0;
  max-width: 518px;
  margin: 0 auto;
}

#nav-title {
  font-weight: 800;
  font-size: 2rem;
}

#menu-icon {
  color: var(--black);
  font-size: 2rem;
}

nav ul {
  display: none;
}

nav li {
  list-style: none;
}

nav li > a {
  text-decoration: none;
  font-size: 0.96rem;
  color: var(--dark-gray);
}

nav li > a:hover {
  color: var(--light-gray);
}

#banner {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  text-align: center;
  padding: 2rem 5% 0;
  max-width: 518px;
  margin: 0 auto;
}

#banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner-subtitle {
  font-weight: 500;
  font-size: 2rem;
  color: var(--dark-gray);
}

#banner-title {
  font-weight: 650;
  font-size: 3.2rem;
  color: var(--black);
}

#banner-description {
  margin: 1rem auto 1.3rem;
  font-size: 0.93rem;
  line-height: 1.25rem;
  max-width: 90%;
  color: var(--light-gray);
}

#button-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 6%;
}

#contact-button {
  color: var(--orange);
  background-color: var(--pink);
  font-weight: 600;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  border: var(--orange) 1.5px solid;
  min-width: 128px;
}

#contact-button:hover {
  opacity: 0.7;
}

header img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 576px) {
  nav,
  #banner {
    max-width: 89%;
  }

  #menu-icon {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    background-image: url(../images/developer.png), url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 5.4%, 52%;
    background-position: 3% 51%, right bottom;
  }

  nav,
  #banner {
    max-width: 88%;
  }

  nav ul {
    gap: 3.25rem;
  }

  #banner {
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: 0;
  }

  #banner-content {
    align-items: flex-start;
    max-width: 55%;
    gap: 0;
  }

  #banner-description {
    margin: 0.8rem auto 1rem 0;
    max-width: 90%;
  }

  #banner-image {
    position: relative;
    left: 4.5rem;
  }
}

@media screen and (min-width: 992px) {
  nav,
  #banner {
    max-width: 87%;
  }

  nav ul {
    gap: 4rem;
  }

  #banner-image {
    left: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  nav,
  #banner {
    max-width: 86%;
  }

  nav ul {
    gap: 4.75rem;
  }

  #banner-image {
    left: 7.8rem;
  }
}

@media screen and (min-width: 1400px) {
  header {
    background-size: 5.4%, 48%;
    background-position: 4% 51%, right bottom;
  }

  nav,
  #banner {
    max-width: 85%;
  }

  nav ul {
    gap: 5.5rem;
  }
}
