#resume-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#education,
#experience {
  margin: 0.8rem 0 1rem;
}

.resume-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: var(--dark-gray);
}

article {
  margin: 0.9rem auto;
}

.article-title {
  font-size: 1.05rem;
  font-weight: 580;
  margin-bottom: 0.3rem;
  color: var(--dark-gray);
}

.article-subtitle {
  font-size: 0.9rem;
  font-weight: 530;
  margin-bottom: 0.8rem;
  color: var(--light-gray);
}

.article-description {
  font-size: 0.78rem;
  line-height: 1.15rem;
  color: var(--light-gray);
}

@media screen and (min-width: 576px) {
  article {
    padding: 0 6%;
  }
}

@media screen and (min-width: 768px) {
  #resume {
    margin: 0 10% 5rem;
  }
}

@media screen and (min-width: 992px) {
  #resume {
    margin: 0 11% 5rem;
  }

  #resume-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  #education,
  #experience {
    max-width: 48.8%;
  }

  article {
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  #resume {
    margin: 0 13% 5rem;
  }
}
